<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <form class="form-sign-in" [formGroup]="login_form" (ngSubmit)="verifyUser(login_form.value,'Login')">
    <ion-grid>
      <ion-row align-items-center justify-content-center>
        <ion-col col-xs-12 col-sm-6 col-lg-4>
          <ion-list class="list-ionic">
            <ion-item-divider>
              <h1 padding-left>Iniciar sesión</h1>
            </ion-item-divider>
            <div [@shrinkOut] ion-item color="color-3">
              <ion-icon class="edit-icon-sign-in" name="mail" item-left></ion-icon>
              <ion-label color="dark" floating>Correo electrónico</ion-label>
              <ion-input required [(ngModel)]="email" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
            </div>
            <!--Validación-->
            <p [@shrinkOut] ion-text color="danger" *ngIf="!login_form.controls['email'].valid &&  login_form.controls['email'].touched">Ingresa un correo válido.</p>
            <!--Validación-->

            <div [@shrinkOut] ion-item color="color-3">
              <ion-icon class="edit-icon-sign-in" name="lock" item-left></ion-icon>
              <ion-label color="dark" floating>Contraseña</ion-label>
              <ion-input [(ngModel)]="pwd" required type="password" formControlName="pwd"></ion-input>
            </div>

            <!--Validación-->
            <p [@shrinkOut] ion-text color="danger" *ngIf="!login_form.controls['pwd'].valid &&  login_form.controls['pwd'].touched">Número inválido de caracteres.</p>
            <!--Validación-->


            <!--botton para realizar submit, se oculta ya que no se va a emplear pero si se usara su evento de submit-->
            <button [disabled]="!login_form.valid" type="submit" [hidden]="true">Enviar</button>
            <ion-row no-padding align-items-center justify-content-end>
              <ion-col no-padding padding-top col-12 text-right>
                <a ion-button clear (click)="goToView('ForgotPage')" text-lowercase ion-text color="dark">¿Olvidaste tu contraseña?</a>
              </ion-col>
            </ion-row>
            <ion-row align-item-center justify-content-center>

              <ion-col no-padding col-12 padding-bottom>
                <button [@scaleEfect] [disabled]="!login_form.valid" ion-button type="submit" text-uppercase ion-button block color="color-1">Ingresar</button>
              </ion-col>
            </ion-row>
            <button ion-button (click)="loginWithFinger()">Finger Login</button>


          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
