<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <form class="form-sign-in" [formGroup]="register_form" (ngSubmit)="register(forms)">
    <ion-grid>
      <ion-row align-items-center justify-content-center>
        <ion-col col-xs-12 col-sm-6 col-lg-4>
          <ion-list class="list-ionic">
            <ion-item-divider>
              <h1 padding-left>Crear una cuenta</h1>
            </ion-item-divider>


            <div ion-item color="color-3">
              <ion-icon class="edit-icon" name="mail" item-left></ion-icon>
              <ion-label color="dark" floating>Correo electrónico</ion-label>
              <ion-input required [(ngModel)]="forms.email" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
            </div>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['email'].valid &&  register_form.controls['email'].touched">Ingresa un correo válido.</p>
            <!--Validación-->

            <div ion-item color="color-3">
              <ion-icon class="edit-icon" name="lock" item-left></ion-icon>
              <ion-label color="dark" floating>Contraseña</ion-label>
              <ion-input [(ngModel)]="forms.pwd" required type="password" formControlName="pwd"></ion-input>
            </div>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['pwd'].valid &&  register_form.controls['pwd'].touched">Número inválido de caracteres.</p>
            <!--Validación-->

            <div ion-item color="color-3">
              <ion-icon class="edit-icon" name="call" item-left></ion-icon>
              <ion-label color="dark" floating>Teléfono</ion-label>
              <ion-input [(ngModel)]="forms.phone" required type="tel" formControlName="phone"></ion-input>
            </div>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['phone'].valid &&  register_form.controls['phone'].touched">Número inválido.</p>
            <!--Validación-->

            <ion-item color="color-3">
              <ion-icon class="edit-icon" name="pin" item-left></ion-icon>
              <ion-label color="dark" floating>Ciudad</ion-label>
              <ion-input (tap)="getCountry()" disabled [(ngModel)]="forms.city" required type="text" formControlName="city"></ion-input>
              <ion-icon class="edit-icon zindex-button" name="add-circle" (tap)="getCountry()" item-right></ion-icon>
            </ion-item>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['city'].valid &&  register_form.controls['city'].touched">Número inválido de caracteres.</p>
            <!--Validación-->

            <div ion-item color="color-3">
              <ion-label color="dark" floating>Nombres</ion-label>
              <ion-input [(ngModel)]="forms.u_names" required type="text" formControlName="u_names"></ion-input>
            </div>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['u_names'].valid &&  register_form.controls['u_names'].touched">Número inválido de caracteres.</p>
            <!--Validación-->

            <div ion-item color="color-3">
              <ion-label color="dark" floating>Apellidos</ion-label>
              <ion-input [(ngModel)]="forms.u_lastnames" required type="text" formControlName="u_lastnames"></ion-input>
            </div>

            <!--Validación-->
            <p ion-text color="danger" *ngIf="!register_form.controls['u_lastnames'].valid &&  register_form.controls['u_lastnames'].touched">Número inválido de caracteres.</p>
            <!--Validación-->


            <!--botton para realizar submit, se oculta ya que no se va a emplear pero si se usara su evento de submit-->
            <button [disabled]="!register_form.valid" type="submit" [hidden]="true">Enviar</button>


            <ion-col col-12 text-center>
              <p no-margin ion-text color="dark">Al crear tu cuenta estás aceptando los</p>
            </ion-col>
            <ion-col col-12 text-center>
              <div>
                <span ion-text color="primary" (click)="goToModal('TermsPage')">Términos del servicio</span>
                <span class="terms-text" ion-text color="dark">y la</span>
                <span ion-text color="primary" (click)="goToModal('PrivacyPage')">Política de Privacidad</span>
              </div>
            </ion-col>
            <ion-col no-padding col-12 padding-bottom>
              <button [@scaleEfect] [disabled]="!register_form.valid" type="submit" text-uppercase ion-button block color="color-1">Crear cuenta</button>
            </ion-col>


          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
