page-registry {
  ion-grid,
  ion-row {
    height: 100%
  }
  .form-sign-in {
    padding: 10px 15px 10px 15px;
    box-sizing: border-box; // margin: 5px 10px 10px 10px;
    // background: color($colors, primary);
    // & .list-ionic .item {
    //   padding-left: 0px;
    // }
    & .list-ionic {
      width: 100%;
    }
  }
  .edit-icon-sign-in:before {
    padding-top: 25px;
  } // cambios para los input floating, cambio en los colores
  .item-md.item-input.input-has-focus .item-inner,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: color($colors, primary);
    box-shadow: inset 0 -1px 0 0 color($colors, primary);
  }
  .input-has-focus .label-md[stacked],
  .input-has-focus .label-md[floating] {
    color: color($colors, primary);
  }
  .btn-circle-icon {
    border-radius: 50%;
    height: 43px;
    width: 43px;
  }
  .zindex-button {
    z-index: 100;
  }
  .edit-icon:before {
    padding-top: 25px;
  }
}
