<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Demter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row align-items-center justify-content-center>
    <ion-col col-12>
      <h1 ion-text text-center>Hello!!</h1>
      <img class="img-home" src="assets/imgs/logo.png" alt="">
    </ion-col>
  </ion-row>
</ion-content>
