<!--
  Generated template for the InitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-tabs tabsLayout="icon-start" #myTabs selectedIndex="{{seltabix}}">
  <!-- <ion-tab *ngFor="let item of pages" tabBadgeStyle="color-6" tabBadge="{{item.badge>0 ? item.badge : null}}" tabTitle="{{item.title}}" tabIcon="{{item.icon}}" [root]="item.component"></ion-tab> -->
  <ion-tab (ionSelect)="applyRoot(item.root)" *ngFor="let item of pages" tabBadgeStyle="color-6" tabTitle="{{item.title}}" tabIcon="{{item.icon}}" [root]="item.component"></ion-tab>
</ion-tabs>